:root {
  font-family: sans-serif;

  --purple-color: #9e8ed6;
  --violet-color: #8196cb;
  --teal-color: rgb(124, 191, 199);
  --baby-blue-color: #6f9cc3;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: var(--violet-color);
}
/*NAVEGATION BAR ELEMENT*/
nav {
  position: sticky;
  top: 0;
  z-index: 999;

  width: 100vw;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: var(--violet-color);

  border-bottom: solid rgb(255, 255, 255) 2px;
}
nav ul a {
  all: unset;
}
nav ul li {
  cursor: pointer;
  padding: 1em 1.5em;
  color: white;
  font-size: 1.25rem;

  transition: ease-in 100ms;
}
nav ul li:hover {
  background-color: white;
  color: black;
}
/*HERO STYLING*/
#hero {
  overflow: hidden; 
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 1rem;
  padding-left: 3rem;

  /* background-image: url("gradient-background.webp");
  background-size: cover;
  background-repeat: no-repeat; */

  background-color: var(--violet-color);
  position: relative;
}
#hero h1 {
  z-index: 1;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -2px;

  transition: ease-in 200ms;

  color: var(--purple-color);
  text-shadow:
    2px 0 #fff,
    -2px 0 #fff,
    0 2px #fff,
    0 -2px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
  
}
#ascii_art {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 0.75;
  z-index: 0;

  font-size: 3rem;
  user-select: none;


}
#ascii_art pre {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1000px){
  #ascii_art{
    visibility: hidden;
  }
}
#hero_button_container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
}
#hero_button_container a {
  all: unset;
}
#hero_button_container button {
  all: unset;
  cursor: pointer;

  background-color: white;
  padding: 0.75em 1em;
  border-radius: 1rem;
  border: solid 2px var(--violet-color);

  font-size: 1.25rem;
  transition: 150ms ease-in;
  gap: 0;
}
#hero_button_container button:hover {
  background-color: var(--violet-color);
  color: white;

  display: flex;
  align-items: center;
  gap: 1rem;

  border-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px var(--violet-color);
}
#hero_button_container a:nth-child(even) button:hover {
  transform: rotateZ(-3.5deg);
  background-color: var(--baby-blue-color);
  box-shadow: 2px 2px 5px var(--baby-blue-color);
}
#hero_button_container a:nth-child(odd) button:hover {
  transform: rotateZ(3.5deg);
}
@keyframes move_right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
#hero_button_container button:hover::after {
  content: url("arrow-right\(1\).svg");
  display: inline-block;
  fill: white;

  animation: move_right 200ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

:is(#explaination, #gallery) {
  position: relative;
  overflow: hidden;
  scroll-margin-top: 10vh;
  padding: 1rem;
  background-color: var(--teal-color);
  color: white;

  min-height: 60vh;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
:is(#explaination, #gallery) div:first-child {
  grid-column: 2 / span 8;
}
:is(#explaination, #gallery) h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(87, 137, 142);
  text-shadow:
    2px 0 #fff,
    -2px 0 #fff,
    0 2px #fff,
    0 -2px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
}
:is(#explaination-area, #gallery-area){
  z-index: 3;
}
#explaination #ascii_art{
  bottom: 0;
  font-size: 2rem;
}
#gallery #ascii_art{
  top: 0;
  font-size: 2rem;
}
#explaination_paragraph {
  padding: 2rem 3rem;
  border-radius: 1rem;

  font-size: 1.5rem;
  background-color: rgba(87, 137, 142, 0.75);
  color: rgb(255, 255, 255);
  line-height: 2.3rem;
}

#gallery {
  background-color: var(--violet-color);
}
#gallery h1 {
  color: var(--purple-color);
}
footer {
  height: 100%;
  text-align: center;
  padding: 0.1rem;
  font-size: 1.5rem;
  letter-spacing: -1px;

  background-color: white;

  display: relative;
}